{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<div class="page-container">
    <h1>Login methods</h1>
    <ul>
        <li><a href="{{ path('app_basic_login') }}">Basic login</a></li><br/>
        <li><a href="{{ path('app_ldap_login') }}">Ldap login</a></li>
    </ul>
    {% if app.user %}
        <div style="color: #EC6666;">
            You are currently logged in as <strong>{{ app.user.userIdentifier }}</strong>. 
            <strong><a href="{{ path('app_basic_logout') }}">Logout</a></strong>
        </div>
    {% endif %}
</div>
{% endblock %}
